name: MLflow CI/CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  train-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    - name: Start MLflow server
      run: |
        mlflow server           --host 0.0.0.0           --port 5000           --backend-store-uri sqlite:///mlflow.db           --default-artifact-root ./mlruns &

    - name: Train model
      env:
        MLFLOW_TRACKING_URI: http://localhost:5000
      run: python train.py

    - name: Promote model
      env:
        MLFLOW_TRACKING_URI: http://localhost:5000
      run: python promote.py
